<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo fixed-top">

  <!-- Navbar brand -->
  <logo>
    <a class="navbar-brand" href="" (click)="false">Task Manager</a>
  </logo>

  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link waves-light" mdbRippleRadius routerLink="/task-list">Tasks
          <span class="sr-only">(current)</span>
        </a>
      </li>

    </ul>
    <!-- Links -->

    <!-- Search form -->
    <form class="form-inline  waves-light" mdbRippleRadius>
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
    </form>
    <app-authorization></app-authorization>
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->
