<div style="margin-bottom: 50px">
  <div class="row" *ngIf="authService.isAdmin()">
    <div class="col-sm">
      <div class="float-left md-form form-group">
        <label for="query" [class.active]="labelActive">User Name</label>
        <input mdbActive type="text" class="form-control validate filter-input" id="query" [(ngModel)]="query" (keyup)="filter($event)">
        <ul class="autocomplete-ul" *ngIf="filteredList.length > 0">
          <li class="autocomplete-li" *ngFor="let item of filteredList" (click)="select(item)">
            {{item.userName}}
          </li>
        </ul>
      </div>
      <div class="float-right">
        <button class="btn btn-info" style="cursor:pointer" (click)="showForm = !showForm">Add User</button>
      </div>
    </div>
  </div>
  <br>
  <app-add-user [showForm]="!showForm"></app-add-user>
  <div class="row">
    <div class="col-sm-4" *ngFor="let user of userList; let i=index" style="padding:10px">

      <!--Card-->
      <div class="card testimonial-card">
        <!--Bacground color-->
        <div class="card-up blue-gradient">
        </div>
        <!--Avatar-->
        <div class="avatar">
          <img src="../../../../assets/avatar.jpg" class="rounded-circle">
        </div>
        <div class="card-body">
          <!--Name-->
          <h4 class="card-title">{{user.userName}}</h4>
          <hr>
          <!--Quotation-->
          <p class="card-text">
            <i class="fa fa-envelope prefix"></i> Email - {{user.emailId}}.</p>
          <p class="card-text">
            <i class="fa fa-phone prefix"></i> Phone - {{user.phoneNumber}}</p>
          <a class="btn btn-primary waves-light" mdbRippleRadius>Info</a>
        </div>
      </div>
    </div>
  </div>
</div>
