.testimonial-card .card-up {
  overflow: hidden;
  height: 120px;
  border-radius: 0.3rem 0.3rem 0 0;
}

.blue-gradient {
  background: linear-gradient(40deg, #45cafc, #303f9f);
}

.testimonial-card .avatar {
  border-radius: 50%;
  height: 120px;
  width: 120px;
  margin: -65px auto 0;
  overflow: hidden;
  border: 5px solid #fff;
}
.testimonial-card .avatar img {
  width: 100%;
}
.rounded-circle {
  border-radius: 50% !important;
}
img {
  vertical-align: middle;
  border-style: none;
}

.testimonial-card .card-body {
  text-align: center;
}
.btn .fa,
.card .card-body {
  position: relative;
}
.card-body {
  -ms-flex: 1 1 auto;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}
*,
::after,
::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.autocomplete-ul {
  position: absolute;
  left: 0;
  right: 0;
  background: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  z-index: 100;
  max-height: 210px;
  overflow-y: auto;
  padding-left: 0;
  list-style-type: none;
}

.autocomplete-li {
  cursor: pointer;
  padding: 12px 15px;
  font-size: 0.875rem;
}

.autocomplete-ul li:hover {
  background: #eee;
}
