<ul class="navbar-nav ml-auto">
  <li class="nav-item" *ngIf="authService.isAdmin()">
    <a class="nav-link" href="" routerLink="/user-list">Manage Profiles</a>
  </li>
  <li class="nav-item" *ngIf="!authService.isLoggedIn()">
    <a class="nav-link" href="" routerLink="/login">Login</a>
  </li>
  <li class="nav-item" *ngIf="authService.isLoggedIn()">
    <a class="nav-link" href="" routerLink="users">Profile</a>
  </li>
  <li class="nav-item" (click)="logout()" *ngIf="authService.isLoggedIn()">
    <a class="nav-link" href="">Logout</a>
  </li>
</ul>
