<div class="container">
  <div class="row" *ngIf="authService.isAdmin()">
    <div class="col-sm">
      <div class="float-right">
        <button class="btn btn-primary" style="cursor:pointer" routerLink="/add-task">Add Task</button>
        <button class="btn btn-primary" style="cursor:pointer" routerLink="/task-schedule">Schedule</button>
        <button class="btn btn-primary" style="cursor:pointer" (click)="randomizeType()">Change Charts View</button>
        <div class="btn-group">
          <a routerLink="/task-list" id="grid" class="btn btn-default btn-sm">
            <i class="fa fa-th" aria-hidden="true" style="font-size: 0.9rem">
            </i> Grid</a>
          <a routerLink="/task-list-list" id="list" class="btn btn-default btn-sm">
            <i class="fa fa-list" aria-hidden="true" style="font-size: 0.9rem"></i> List</a>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-6">

      <canvas baseChart [data]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [chartType]="lineChartType"
        (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
    </div>
    <div class="col-md-6">
      <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType" (chartHover)="chartHovered($event)"
        (chartClick)="chartClicked($event)"></canvas>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header primary-color white-text">
          <div class="row">
            <h4 class="col-7">Completed Tasks</h4>
            <div class="float-right col-5" style="margin-top:5px">
              <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" value="" title="Drag Enabled" [(ngModel)]="dragEnabled" style="margin-top:8px"> Drag Enabled
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body scroll-list" droppable [dragOverClass]="'drag-target-border-green'" dropScope="completedTask" [dragHintClass]="'drag-hint'"
          (onDrop)="onDropFunction($event)" dnd-sortable-container [sortableData]="completedTask">
          <div style="padding: 10px;" *ngFor="let task of completedTask; let i=index" [draggable] [dragClass]="'active'" [dragData]="task"
            dnd-sortable [sortableIndex]="i" dragScope="inCompletedTask" [dragEnabled]="dragEnabled" [dragHandle]="'.drag-bar'">
            <div class="card hoverable">
              <div class="card-header">
                <b>{{task.heading}}</b>
                <i #dragHandle class="drag-bar fa fa-bars fa-lg float-right" aria-hidden="true" style="cursor: move"></i>
              </div>
              <div class="card-body">
                <div>
                  <p class="card-text">{{task.description}}.</p>
                  <div class="chip float-right">
                    <img src="../../../../assets/avatar.jpg" alt="Contact Person"> {{task.assignedFor}}
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <button class="btn btn-blue-grey waves-light" style="cursor:pointer" data-toggle="modal" data-target="#viewTask" (click)="getTask(task)">View | Update Task
                </button>
                <p class="float-right">{{task.assignedDate}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header primary-color white-text">
          <div class="row">
            <h4 class="col-7">In Completed Tasks</h4>
            <div class="col-5 float-right" style="margin-top:5px">
              <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" value="" title="Drag Enabled" [(ngModel)]="dragEnabled" style="margin-top:8px"> Drag Enabled
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body scroll-list" droppable [dragOverClass]="'drag-target-border-green'" dropScope="inCompletedTask" [dragHintClass]="'drag-hint'"
          (onDrop)="onDropFunction($event)" dnd-sortable-container [sortableData]="taskList">
          <div style="padding: 10px;" *ngFor="let task of taskList; let i=index" [draggable] [dragClass]="'active'" [dragData]="task"
            dnd-sortable [sortableIndex]="i" dragScope="completedTask" [dragEnabled]="dragEnabled" [dragHandle]="'.drag-bar'">
            <div class="card hoverable">
              <div class="card-header">
                <b>{{task.heading}}</b>
                <i #dragHandle class="drag-bar fa fa-bars fa-lg float-right" aria-hidden="true" style="cursor: move"></i>
              </div>
              <div class="card-body">
                <div>
                  <p class="card-text">{{task.description}}.</p>
                  <div class="chip float-right">
                    <img src="../../../../assets/avatar.jpg" alt="Contact Person"> {{task.assignedFor}}
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <button class="btn btn-blue-grey waves-light" style="cursor:pointer" data-toggle="modal" data-target="#viewTask" (click)="getTask(task)">View | Update Task
                </button>
                <p class="float-right">{{task.assignedDate}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-edit-task [task]="task" [userList]="userList"></app-edit-task>
  </div>
</div>
<br>
<br>
