<form #updatePerson="ngForm" (ngSubmit)="updateProfile(updatePerson)" name="profileForm">
  <div class="row">
    <div class="col-md-8 mb-3">
      <label for="userName">User Name</label>
      <input type="text" class="form-control" [ngClass]="(userName.invalid)?'is-invalid':'is-valid'" id="userName" [ngModel]="loggedUser.userName"
        name="userName" #userName="ngModel" value="Mark" (ngModelChange)="enbUpdBut = !enbUpdBut" required>
      <div class="invalid-feedback">
        username is Mandatory.
      </div>
    </div>
    <div class="col-md-8 mb-3">
      <label for="emailId">Email Id</label>
      <input type="text" class="form-control is-valid" id="emailId" placeholder="Last name" [value]="loggedUser.emailId" [disabled]="true">
    </div>
    <div class="col-md-8 mb-3">
      <label for="contactNumber">Contact Number</label>
      <input type="tel" class="form-control" name="phoneNumber" [ngModel]="loggedUser.phoneNumber" #phoneNumber="ngModel" (ngModelChange)="enbUpdBut = !enbUpdBut"
        id="contactNumber" placeholder="Last name">
    </div>
  </div>
  <!--
  <div class="row">
    <div class="col-md-8 mb-8">
      <label for="cpresent">Current Password</label>
      <input type="text" class="form-control is-invalid" id="cpresent" placeholder="City" required>
      <div class="invalid-feedback">
        Please provide a valid city.
      </div>
    </div>
     <div class="col-md-8 mb-8">
      <label for="npresent">New Password</label>
      <input type="text" class="form-control is-invalid" id="npresent" placeholder="State" required>
      <div class="invalid-feedback">
        Please provide a valid state.
      </div>
    </div>
    <div class="col-md-8 mb-3">
      <label for="cnpresent">Confirm Password</label>
      <input type="text" class="form-control is-invalid" id="cnpresent" placeholder="Zip" required>
      <div class="invalid-feedback">
        Please provide a valid zip.
      </div>
    </div>
  </div>
 -->
  <button class="btn btn-primary" type="submit" [hidden]="enbUpdBut">Update</button>
</form>
