<div class="container">
  <form [formGroup]="taskFormGroup" (ngSubmit)="addTask(taskFormGroup.value)">
    <div class="form-row md-form">
      <div class="form-group col-md-12">
        <input mdbActive type="text" class="form-control" id="heading" name="heading" formControlName="task-heading" mdbInputValidate>
        <label class="active" for="heading">Task title</label>
        <small class="text-danger" *ngIf="!taskFormGroup.controls['task-heading'].valid && taskFormGroup.controls['task-heading'].touched">* Task title required</small>
      </div>

      <div class="form-group col-md-12">
        <textarea mdbActive type="text" id="description" class="md-textarea" name="description" formControlName="task-description"></textarea>
        <label for="description">Description</label>
        <small class="text-danger" *ngIf="!taskFormGroup.controls['task-description'].valid && taskFormGroup.controls['task-description'].touched">* You must specify a description between 30 to 200 characters</small>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4 md-form">
        <input type="date" id="assignedDate" class="form-control" name="assignedDate" formControlName="task-assignedDate">
        <label class="active" for="assignedDate">Assigning Date</label>
      </div>
      <div class="form-group col-md-4">
        <label for="catgory">Category</label>
        <select id="catgory" class="form-control" name="category" formControlName="task-category" required>
          <option *ngFor="let cat of category" [ngValue]="cat">{{cat}}</option>
        </select>
      </div>
      <div class="form-group col-md-4">
        <label for="assignedFor">Assinged For</label>
        <select id="assignedFor" class="form-control" formControlName="task-assignedFor" name="assignedFor" required>
          <option *ngFor="let user of userList" [ngValue]="user.userName">{{user.userName}}</option>
        </select>
      </div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!taskFormGroup.valid">Create Task</button>
  </form>
</div>
