<div class="container row" [hidden]="showForm">
  <form #userForm="ngForm" (ngSubmit)="addUser(userForm)" style="width:100%">
    <div class="row">
      <div class="col-sm form-group">
        <label for="userName">User Name</label>
        <input type="text" class="form-control" id="userName" [(ngModel)]="service.selectedUser.userName" name="userName" #name="ngModel">
      </div>
      <div class="col-sm form-group">
        <label for="emailId">Email address</label>
        <input type="email" class="form-control" id="emailId" placeholder="name@example.com" [(ngModel)]="service.selectedUser.emailId"
          name="emailId" #name="ngModel">
      </div>
      <div class="col-sm form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" [(ngModel)]="service.selectedUser.password" name="password" #name="ngModel"
          placeholder="*****">
      </div>
      <div class="col-sm form-group">
        <label for="phoneNumber">Phone Number</label>
        <input type="tel" class="form-control" id="phoneNumber" max="10" [(ngModel)]="service.selectedUser.phoneNumber" name="phoneNumber"
          #name="ngModel">
      </div>
      <div class="col-sm form-group">
        <button type="submit" id="user_submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </form>
</div>
