<app-navbar></app-navbar>
<br>
<br>
<br>
<div class="container">
  <toaster-container [toasterconfig]="toasterconfig"></toaster-container>
  <app-tasks></app-tasks>
</div>
<br>
<br>
<br>
<br>
<br>
<app-footer [brand]="'Mohammed Ismail'" id="app-footer"></app-footer>
