<div class="row" *ngIf="authService.isAdmin()">
  <div class="col-sm">
    <div class="float-right">
      <button class="btn btn-primary" style="cursor:pointer" routerLink="/add-task">Add Task</button>
      <button class="btn btn-primary" style="cursor:pointer" routerLink="/task-schedule">Schedule</button>
    </div>
  </div>
</div>
<br>
<div class="row">

  <p-schedule [events]="events" [options]="calendarOptions"></p-schedule>
  <!-- Modal -->
  <div class="modal fade" mdbModal #form="mdb-modal" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog cascading-modal" role="document">
      <!--Content-->
      <div class="modal-content">

        <!--Header-->
        <div class="modal-header light-blue darken-3 white-text">
          <h4 class="title">
            <i class="fa fa-pencil"></i> Event Form</h4>
          <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close" (click)="form.hide()">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <!--Body-->
        <div class="modal-body mb-0">
          <form #eventForm="ngForm" (ngSubmit)="addEvent(eventForm)">
            <div class="md-form">
              <input mdbActive type="text" id="eventTitle" class="form-control" [(ngModel)]="event.title" #name="ngModel" name="title"
                required>
              <label for="eventTitle">Event Title</label>
            </div>

            <div class="md-form">
              <textarea mdbActive type="text" class="form-control md-textarea" id="description" [(ngModel)]="event.description" name="description"
                row="1"></textarea>
              <label for="description">Description</label>
            </div>
            <div class="md-form">
              <input type="date" id="startDate" class="form-control" [(ngModel)]="event.startDate" #name="ngModel" name="startDate" required>
              <label for="startDate" class="active">Start Date</label>
            </div>

            <div class="md-form">
              <input type="date" id="endDate" class="form-control" [(ngModel)]="event.endDate" #name="ngModel" name="endDate">
              <label for="endDate" class="active">End Date</label>
            </div>

            <div class="md-form">
              <select id="taskColor" class="form-control" name="color" [(ngModel)]="event.color" #name="ngModel">
                <option value="red">Red</option>
                <option value="green">Green</option>
                <option value="blue">Blue</option>
              </select>
              <label for="taskColor" class="active" style="padding-top: 25px;">Event Color</label>
            </div>

            <div class="text-center mt-1-half">
              <button class="btn btn-info mb-2 waves-light" type="submit" mdbRippleRadius>Add Event
              </button>
            </div>
          </form>
        </div>
      </div>
      <!--/.Content-->
    </div>
  </div>
</div>
<br>
<br>
