<div style="padding: 10px" class="z-depth-2">
  <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [scrollwheel]="scrollWheel" [mapTypeControl]="true">
    <agm-marker *ngFor="let location of locations; let i = index" [latitude]="location.location.lat" [longitude]="location.location.lon"
      [label]="location['label']" (markerClick)="clickedMarker( location)" [zIndex]="">
      <agm-info-window [isOpen]="isOpen">
        <strong>{{location.userName}}</strong>
      </agm-info-window>
    </agm-marker>
    <div *ngIf="viewData">
      <agm-circle *ngFor="let event of events" [latitude]="event.location.lat" [longitude]="event.location.lon" [radius]="100 * event.completedIn"
        [fillColor]="'red'" [zIndex]=-1>
      </agm-circle>
    </div>
    <div *ngIf="viewData">
      <agm-polyline [strokeColor]="'#75130E'">
        <agm-polyline-point *ngFor="let event of events" [latitude]="event.location.lat" [longitude]="event.location.lon">
        </agm-polyline-point>
      </agm-polyline>
    </div>
  </agm-map>
</div>
