<!-- Modal -->
<div class="modal fade" id="viewTask" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header  primary-color white-text">
        <h5 class="modal-title" id="exampleModalLabel">Task Info</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <form #editTask="ngForm" (ngSubmit)="updateTask(editTask)">
        <div class="modal-body">
          <div class="form-row ">
            <div class="form-group col-md-12">
              <input mdbActive type="hidden" class="form-control" id="key" [(ngModel)]="task.$key" name="$key" #$key="ngModel">
            </div>
            <div class="form-group md-form col-md-12">
              <input type="text" class="form-control" id="heading" [(ngModel)]="task.heading" name="heading" (ngModelChange)="isTaskChanged = true"
                required>
              <label for="heading" class="active">Task Title</label>
            </div>
            <div class="form-group col-md-12 md-form">
              <textarea type="text" class="form-control md-textarea" id="description" [(ngModel)]="task.description" name="description"
                row="1" (ngModelChange)="isTaskChanged = true"></textarea>
              <label for="description" class="active">Description</label>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6 md-form">
              <label for="assignedDate" class="active">Assigning Date</label>
              <input type="date" class="form-control" id="assignedDate" [(ngModel)]="task.assignedDate" name="assignedDate" (ngModelChange)="isTaskChanged = true">
            </div>
            <div class="form-group col-md-6">
              <label for="category">Category</label>
              <select id="category" class="form-control" [(ngModel)]="task.category" name="category" (ngModelChange)="isTaskChanged = true"
                required>
                <option *ngFor="let cat of category; let i=index">{{cat}}</option>
              </select>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="assignedFor">Assinged For</label>
              <select id="assignedFor" class="form-control" [(ngModel)]="task.assignedFor" name="assignedFor" (ngModelChange)="isTaskChanged = true"
                required>
                <option *ngFor="let user of userList; let i=index">{{user.userName}}</option>
              </select>
            </div>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" [(ngModel)]="task.isCompleted" (ngModelChange)="isTaskChanged = true" name="isCompleted"> Completed ?
            </label>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" [hidden]="!isTaskChanged">Update changes
          </button>
          <button type="button" class="btn btn-blue-grey waves-light" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>
