thead th {
  margin-right: 15px;
  margin-left: 15px;

  span {
    visibility: hidden;
  }

  &.active {
    color: #000;

    span {
      visibility: visible;
    }
  }
}

.pagination-center {
  margin: auto;
}

.badge {
  padding: 5px;
}
