<div class="row" *ngIf="authService.isAdmin()">
  <div class="col-sm">
    <div class="float-right">
      <button class="btn btn-primary" style="cursor:pointer" routerLink="/add-task">Add Task</button>
      <button class="btn btn-primary" style="cursor:pointer" routerLink="/task-schedule">Schedule</button>
      <div class="btn-group">
        <a routerLink="/task-list" id="grid" class="btn btn-default btn-sm">
          <i class="fa fa-th" aria-hidden="true" style="font-size: 0.9rem">
          </i> Grid</a>
        <a routerLink="/task-list-list" id="list" class="btn btn-default btn-sm">
          <i class="fa fa-list" aria-hidden="true" style="font-size: 0.9rem"></i> List</a>
      </div>
    </div>
  </div>
</div>
<br>

<div class="row">
  <div class="col-8">
    <div class="md-form col-4">
      <input mdbActive type="text" id="search" class="form-control" name="search" [(ngModel)]="search">
      <label for="search" class="">Search tasks</label>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th (click)="setOrder('heading')" [class.active]="key === 'heading'" style="cursor: pointer">Heading
            <span [hidden]="reverse">
              <i [hidden]="reverse" Class="fa fa-chevron-down"></i>
            </span>
            <span [hidden]="!reverse">
              <i [hidden]="!reverse" class="fa fa-chevron-up"></i>
            </span>
          </th>
          <th>Description</th>
          <th>Category</th>
          <th (click)="setOrder('isCompleted')" [class.active]="key === 'isCompleted'" style="cursor: pointer">IsCompleted
            <span [hidden]="reverse">
              <i [hidden]="reverse" Class="fa fa-chevron-down"></i>
            </span>
            <span [hidden]="!reverse">
              <i [hidden]="!reverse" class="fa fa-chevron-up"></i>
            </span>
          </th>
          <th (click)="setOrder('assignedDate')" [class.active]="key === 'assignedDate'" style="cursor: pointer">AssignedDate
            <span [hidden]="reverse">
              <i [hidden]="reverse" Class="fa fa-chevron-down"></i>
            </span>
            <span [hidden]="!reverse">
              <i [hidden]="!reverse" class="fa fa-chevron-up"></i>
            </span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let taskData of taskList | orderBy: key : reverse | filter:search | paginate: { itemsPerPage: 5, currentPage: p }; let i = index">
          <th scope="row">{{i+1}}</th>
          <!-- [routerLink]="['/task-list-list', {outlets: {'taskDetails': ['task-list', taskData.$key]}}]" -->
          <td (click)="getTask(taskData.$key)" style="color:cornflowerblue; cursor:pointer">{{taskData.heading}}
          </td>
          <td>{{taskData.description}}</td>
          <td>
            <span *ngIf="taskData.category === 'Work'" class="badge badge-default">{{taskData.category}}</span>
            <span *ngIf="taskData.category === 'School'" class="badge badge-primary">{{taskData.category}}</span>
            <span *ngIf="taskData.category === 'Personal'" class="badge badge-info">{{taskData.category}}</span>
            <span *ngIf="taskData.category === 'Home'" class="badge badge-danger">{{taskData.category}}</span>
          </td>
          <td>{{taskData.isCompleted}}</td>
          <td>{{taskData.assignedDate}}</td>
        </tr>
      </tbody>
    </table>
    <div class="pagination-center">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>
  <div class="col-4">
    <!-- <router-outlet name="taskDetails"></router-outlet> -->
    <app-task-detail [task]="task"></app-task-detail>
  </div>
</div>
