<div class="container mt-3">
  <a *ngFor="let task of usersTasks">
    <blockquote [ngClass]="task.isCompleted ? 'bq-success': 'bq-danger'" class="blockquote z-depth-2">
      <p class="bq-title">{{task.heading}}</p>
      <p>{{task.description}}</p>
    </blockquote>
  </a>
</div>
