<!--Panel-->
<div class="card">
  <h3 class="card-header primary-color white-text">Task Details</h3>
  <div class="card-body">
    <ul class="list-group">
      <li class="list-group-item">
        <p class="list-label">Heading</p>
        <h5 class="list-description">{{task.heading}}</h5>
      </li>
      <li class="list-group-item">
        <p class="list-label">Description</p>
        <h5 class="list-description">{{task.description}}</h5>
      </li>
      <li class="list-group-item">
        <p class="list-label">Category</p>
        <h5 class="list-description">{{task.category}}</h5>
      </li>
      <li class="list-group-item">
        <p class="list-label">IsCompleted</p>
        <h5 class="list-description">{{task.isCompleted}}</h5>
      </li>
      <li class="list-group-item">
        <p class="list-label">AssignedFor</p>
        <h5 class="list-description">{{task.assignedFor}}</h5>
      </li>
      <li class="list-group-item">
        <p class="list-label">AssignedDate</p>
        <h5 class="list-description">{{task.assignedDate}}</h5>
      </li>
    </ul>
  </div>
</div>
<!--/.Panel-->
