.card {
  margin-top: 50px;
  height: 500px;
}

.list-label {
  position: relative;
  z-index: 5;
  float: left;
  text-align: right;
}

.list-description {
  position: relative;
  float: right;
  text-align: right;
  font-size: 13px;
}
