<div id="login">
  <div class="row">
    <div class="col-6">
      <!--Card-->
      <div class="card">
        <!--Card content-->
        <div class="cart-title"></div>
        <div class="card-body">
          <!--Title-->
          <h4 class="card-title">Sign In / sign Up</h4>
          <form role="form">
            <div class="form-group md-form">
              <label for="emailId">Email</label>
              <input type="email" mdbActive class="form-control" id="emailId" name="emailId" #name="ngModel" [(ngModel)]="emailId">
            </div>
            <div class="form-group md-form">
              <label for="exampleInputPassword1">Password
              </label>
              <input type="password" mdbActive class="form-control" id="password" name="password" #name="ngModel" [(ngModel)]="password">
            </div>
            <button type="submit" class="btn btn-sm btn-default" style="cursor: pointer" [disabled]="!emailId || !password" (click)="login()">Sign in</button>
            <button type="submit" class="btn btn-sm btn-default" style="cursor: pointer" (click)="signup()" [disabled]="!emailId || !password">Sign up</button>
          </form>
        </div>

      </div>
      <!--/.Card-->
    </div>
  </div>
</div>
