<!--Footer-->
<footer class="page-footer indigo center-on-small-only pt-0 fixed-bottom">

  <div class="container">

    <div class="row">

      <div class="col-md-12">

        <div class="footer-socials mb-5 flex-center">

          <a class="icons-sm fb-ic">
            <i class="fa fa-facebook fa-lg white-text mr-md-4"> </i>
          </a>
          <a class="icons-sm tw-ic">
            <i class="fa fa-twitter fa-lg white-text mr-md-4"> </i>
          </a>
          <a class="icons-sm gplus-ic">
            <i class="fa fa-google-plus fa-lg white-text mr-md-4"> </i>
          </a>
          <a class="icons-sm li-ic">
            <i class="fa fa-linkedin fa-lg white-text mr-md-4"> </i>
          </a>
          <a class="icons-sm ins-ic">
            <i class="fa fa-instagram fa-lg white-text mr-md-4"> </i>
          </a>
          <a class="icons-sm pin-ic">
            <i class="fa fa-pinterest fa-lg white-text"> </i>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-copyright">
    <div class="container-fluid">
      © 2017 Copyright:
      <a href="http://ikismail.github.io" target="blank"> Mohammed Ismail </a>
    </div>
  </div>

</footer>
