<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <ul class="list-group">
        <li class="list-group-item hoverable">
          <a [routerLink]="['/users', {outlets: {'profileOutlet': ['']}}]">My Profile</a>
        </li>
        <li class="list-group-item hoverable">
          <a [routerLink]="['/users', {outlets: {'profileOutlet': ['users-task']}}]">Tasks Assigned</a>
        </li>
        <li class="list-group-item hoverable" *ngIf="authService.isAdmin()">
          <a [routerLink]="['/users', {outlets: {'profileOutlet': ['locate-users']}}]">Locate Users</a>
        </li>
      </ul>
    </div>
    <div class="col-sm-8">
      <router-outlet name="profileOutlet"></router-outlet>
    </div>
  </div>
</div>
